/* ----------< SC-Player Basic >---------------- */

sc-player, sc-list {
	display: inline-block;
	position: relative;
}

sc-item {
	display: list-item;
	position: relative;
}

sc-list {
	list-style: none inside;
}

sc-player .sc-tracklist {
	list-style-type: decimal-leading-zero;
	overflow: auto;
}

sc-player .sc-cover-slide,
sc-player .sc-info-toggle,
sc-player .sc-play-toggle,
sc-player .sc-play-prev,
sc-player .sc-play-next,
sc-player .sc-play-mode,
sc-player .sc-track {
	user-select: none;
	cursor: pointer;
}

sc-player .sc-volume,
sc-player .sc-play-nav,
sc-player .sc-play-prev,
sc-player .sc-play-next,
sc-player .sc-play-mode,
sc-player .sc-time-scale,
sc-player .sc-cover-slide,
sc-player .sc-time-indicators,
sc-player .sc-info-overlay {
	visibility: hidden;
}

sc-player *:hover   > .sc-artwork.H-gall ~ .sc-cover-slide,
sc-player .H-prev   ~ .S-played > .sc-play-nav > .sc-play-prev,
sc-player .H-next   ~ .S-played > .sc-play-nav > .sc-play-next,
sc-player .S-played > .sc-play-mode,
sc-player .S-played > .sc-play-nav,
sc-player .S-played > .sc-volume,
sc-player .S-played > .sc-time-scale,
sc-player .S-played > .sc-time-indicators,
sc-player .S-detail > .sc-info-overlay {
	visibility: visible;
}

sc-player .sc-waveform:after,
sc-player .sc-info-overlay {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}
sc-player .sc-info-overlay {
	overflow-x: hidden;
	overflow-y: scroll;
}
sc-player .sc-info-artist,
sc-player .sc-info-title {
	text-align: center;
	font-weight: bold;
	margin: 8px;
}
sc-player .sc-info-lirika {
	unicode-bidi: embed;
	white-space: break-spaces;
	word-wrap: break-word;
	padding: 0 4px;
	margin: 4px;
}

sc-player .sc-play-nav {
	display: flex;
}

sc-player .sc-bar-buffer { bottom:0; }
sc-player .sc-bar-buffer,
sc-player .sc-box-controls {
	position: absolute;
	left: 0; top: 0;
}
sc-player .sc-box-drop {
	position: absolute;
	right: 0; bottom: 0;
}

sc-player .sc-track {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
sc-player .sc-track[data-artist]:before {
	content: "«" attr(data-artist) "» ";
}
sc-player .sc-track[data-duration]:after {
	content: attr(data-duration);
}
sc-player .sc-time-indicators:before {
	content: attr(data-pos) ' / ' attr(data-duration);
	white-space: nowrap;
}

sc-player .sc-artwork {
	overflow: hidden;
	position: relative;
}
sc-player .sc-artwork > img {
	width: 100%;
	height: auto;
	display: block;
	min-height: 100%;
}
sc-player .sc-artwork > img:last-child {
	margin-bottom: 10px;
}
sc-player .sc-waveform,
sc-player .sc-bar-plying,
sc-player .sc-bar-volume {
	position: relative;
	height: 100%;
}

sc-player .S-hidden {
	display: none;
}
