/* ----------< SC-Player OldBand Skeletion >---------------- */

@import url('../sc-player-base.css');

.sc-player-oldband {
	--bar-fill: #a1a1a1; --slider-w: 18px;
	--txt-col1: #6e6e6e; --vol-vpad: 23px;
	--art-fill: #fbfdff; --re-color: invert(40%);
	--bg1-fill: #eee;
	--bg2-fill: #fff;
	--vol-lean: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 138 33" fill="none" stroke="white" stroke-width="2"><path d="M 137,2 0,32 h 137 z"/></svg>');
	--vol-full: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 138 33" stroke="none" fill="white" stroke-width="2"><path d="M 137,2 0,32 h 137 z"/></svg>');
}
.sc-player-oldband {
	font: .7em sans-serif;
	margin: 5px;
	border-radius: 2px;
	background-color: var(--bg1-fill);
	box-shadow: 5px 5px 10px rgba(0,0,0,.4), inset 0 0 20px rgba(0,0,0,.1);
	color: var(--txt-col1);
}
.sc-player-oldband .sc-box-controls {
	padding: 5px;
	right: 0;
}

/*  Artwork  */
.sc-player-oldband .sc-artwork {
	background: url('img/melody-icon.svg') no-repeat center / 60%;
	background-color: var(--art-fill);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	width: 100px;
	height: 100px;
	position: relative;
}

/* Toggle Play/Pause */
.sc-player-oldband .sc-play-toggle {
	position: absolute;
	height: 38px; top: 5px;
	width: 38px; right: 5px;
	filter: var(--re-color);
	background: url('img/play-modern.svg') no-repeat center left / 200%;
}
.sc-player-oldband .S-played:not(.S-paused) > .sc-play-toggle {
	background-position: center right;
}

/* Toggle Play/Pause */
.sc-player-oldband .sc-time-scale {
	left: 110px; bottom: 5px;
	right: 5px; height: 10px;
	outline: 1px solid var(--bar-fill);
	border: 1px solid var(--bg1-fill);
	position: absolute;
}
.sc-player-oldband .sc-time-indicators {
	bottom: var(--vol-vpad);
	right: 5px;
	position: absolute;
}
.sc-player-oldband .sc-time-indicators:not([data-duration]) {
	content: '- -:- -';
}
.sc-player-oldband .sc-waveform {
	border-width: 0 9px;
	border-style: none solid;
	border-left-color: var(--bar-fill);
	border-right-color: transparent;
}
.sc-player-oldband .sc-bar-plying {
	background-color: var(--bar-fill);
}
.sc-player-oldband .sc-bar-plying:after {
	content: '';
	width: 18px; right: -9px;
	height: 12px; top: -2px;
	background-color: var(--bg2-fill);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: 1px solid var(--bar-fill);
	border-radius: 2px;
	position: absolute;
	display: block;
	cursor: pointer;
}

/* Tracks List */
.sc-player-oldband .sc-tracklist {
	width: 340px; height: 240px;
	margin-top: 110px;
	border-top: 2px double var(--bar-fill);
}
.sc-player-oldband .sc-track {
	padding: 3px 35px 3px 5px;
	margin: 1px 2px;
	border: 1px solid var(--bg1-fill);
	border-radius: 2px;
}
.sc-player-oldband .sc-track:nth-child(even) { background-color: var(--bg1-fill); }
.sc-player-oldband .sc-track:nth-child(odd)  { background-color: var(--bg2-fill); }
.sc-player-oldband .sc-track.S-freemv {
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.sc-player-oldband .sc-track:after {
	text-align: right;
	padding: 0 5px;
	margin-left: 5px;
	top: 3px; right: 0;
	position: absolute;
}
.sc-player-oldband .sc-track:hover {
	background-color: var(--bar-fill);
	color: var(--bg2-fill);
}
.sc-player-oldband .sc-track.S-current {
	background-color: var(--txt-col1);
	outline: 1px solid var(--bar-fill);
	color: var(--bg1-fill);
	font-weight: bold;
}

/* Volume Slider */
.sc-player-oldband .sc-volume {
	position: absolute;
	background: var(--vol-lean) no-repeat top center / 100%;
	left: 115px; bottom: var(--vol-vpad);
	width: 70px; height: 17px;
	filter: var(--re-color);
}
.sc-player-oldband .sc-bar-volume {
	background: var(--vol-full) no-repeat bottom center / 100%;
}
.sc-player-oldband .sc-box-drop:not(.S-active) > *,
.sc-player-oldband .sc-cover-slide,
.sc-player-oldband .sc-volume:after,
.sc-player-oldband .sc-volume:before {
	content: '';
	display: inline-block;
	width: 18px;
	cursor: pointer;
	height: 18px;
	background-image: url('img/info-modern.svg');
	background-size: 300%;
}
.sc-player-oldband .sc-volume:before {
	background-position: right center;
	rotate: 45deg;
	left: -11px; top: 0;
	position: absolute;
}
.sc-player-oldband .sc-volume:after {
	background-position: top center;
	right: -18px; top: 0;
	position: absolute;
}
.sc-player-oldband .sc-volume[data-percent="0"]:after {
	background-position: center center;
}

/* Playlist navigation panel */
.sc-player-oldband .sc-play-nav {
	position: absolute;
	top: 45px; right: 5px;
}
.sc-player-oldband .sc-play-prev,
.sc-player-oldband .sc-play-next {
	position: relative;
	padding: 11px;
	background: url('img/info-modern.svg') no-repeat center bottom / 300%;
	filter: var(--re-color);
}
.sc-player-oldband .sc-play-prev {
	rotate: 180deg;
	margin-right: 5px;
}
.sc-player-oldband .sc-play-mode {
	position: absolute;
	bottom: var(--vol-vpad);
	left: 215px;
}
.sc-player-oldband .sc-play-mode:before {
	content: '《 ' attr(data-mode) ' 》';
}

/* Media Info */
.sc-player-oldband .sc-cover-slide {
	background-color: var(--txt-col1);
	position: absolute;
	bottom: 0; left: 45px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px 5px 0 0;
	background-position: left bottom;
}
.sc-player-oldband .sc-info-overlay {
	left: 105px; top: 0;
	right: 55px; bottom: 45px;
	visibility: visible;
}
.sc-player-oldband .sc-info-artist,
.sc-player-oldband .sc-info-title {
	text-align: left;
	margin-right: 2px;
}
.sc-player-oldband .sc-info-title:not(:empty) {
	text-decoration: underline;
}
.sc-player-oldband .sc-info-artist:not(:empty) {
	font-size: 90%;
	font-variant: petite-caps;
	color: var(--bar-fill);
}
.sc-player-oldband .sc-info-lirika:not(:empty) {
	background-color: var(--art-fill);
	border-radius: 3px;
	margin-top: 20px;
}
.sc-player-oldband .sc-info-artist:before {
	content: 'by ';
	font-variant: normal;
	font-weight: normal;
}
.sc-player-oldband .sc-info-title:empty:before {
	content: '。。。';
}
.sc-player-oldband .sc-info-artist:empty:before {
	content: '- - -';
}

/* DropBox and shufl buttons */
.sc-player-oldband .sc-box-drop:not(.S-active) {
	background-color: var(--txt-col1);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,.4);
	line-height: 0;
	overflow: hidden;
	right: 9px;
}
.sc-player-oldband .S-trmove ~ .sc-box-drop:not(.S-active) > .sc-move-tracks,
.sc-player-oldband /*-------*/ .sc-box-drop:not(.S-active) > :hover {
	background-color: var(--bar-fill);
}
.sc-player-oldband .S-active > .sc-move-tracks {
	background: url('img/info-modern.svg') no-repeat left top / 300%;
	filter: var(--re-color);
	width : 120px;
	height: 120px;
	margin: 10px auto;
}
.sc-player-oldband .sc-move-tracks { padding: 2px; background-position: right top;    }
.sc-player-oldband .sc-add-files   { padding: 2px; background-position: right center; }
.sc-player-oldband .sc-shfl-tracks { padding: 2px; background-position: right bottom; }
.sc-player-oldband .sc-box-drop.S-active {
	background-color: var(--bg2-fill);
	font: small-caps 16px sans-serif;
	text-align: center;
	top: 113px; left: 0;
	padding: 8px;
}
