body {
	font-family: Courier, 'Courier New', monospace;
	padding: 0 20px;
	color: #333;
	text-shadow: none;
	margin: 0;
}

h1 {
	border-bottom: 1px dotted black;
	padding: 20px 0;
}

h3 {
	width: 90%;
	text-align: center;
}

.fx-cont {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
}

.fx-vert li {
	cursor: pointer;
}

.fx-vert {
	grid-column: 1;
	grid-row: 1;
}

.fx-super {
	grid-column: 2;
	padding-left: 7px;
	border-left: 1px dotted black;
}

.footer {
	padding: 10px 0;
	border-top: 1px dotted black;
	text-align: center;
	margin-top: 10px;
}

.fx-super > .sc-P-wide {
	max-width: 680px;
}
.o-colors > :hover,
.o-aligns > :hover {
	text-decoration: underline;
}
.o-colors > :not(.selected),
.o-aligns > :not(.selected) {
	list-style-type: "  ";
}

.C-green.selected , .C-green:hover  { color: #22B573; }
.C-blue.selected  , .C-blue:hover   { color: #039; }
.C-orange.selected, .C-orange:hover { color: #f6a400; }

.P-vertical:before   { content: 'vertical'; }
.P-horizontal:before { content: 'horizontal'; }
.P-wide:before       { content: 'wide'; }

.C-green:before  { content: 'green'; }
.C-blue:before   { content: 'blue'; }
.C-orange:before { content: 'orange'; }
