/* ----------< SC-Player Standart Skeletion >---------------- */

@import url('../sc-player-base.css');

/* Initial player style */
.sc-player-standart {
	display: inline-flex;
	margin: 5px;
	font: normal .8em sans-serif;
}
.sc-player-standart:before {
	content:'';
	display: block;
}

/* Content blocks rectangles */
.sc-player-standart .sc-box-drop.S-active,
.sc-player-standart .sc-box-controls,
.sc-player-standart .sc-artwork,
.sc-player-standart .sc-tracklist,
.sc-player-standart:before {
	width: 270px;
	height: 270px;
}

/* Playlist formations */
.sc-player-standart.sc-P-horizontal { flex-direction: row; }
.sc-player-standart.sc-P-vertical   { flex-direction: column; }

/* Text Buttons */
.sc-player-standart .sc-cover-slide,
.sc-player-standart .sc-info-toggle,
.sc-player-standart .sc-play-mode,
.sc-player-standart .sc-play-nav > * {
	font: bold 18px / 24px serif;
	border-radius: 4px;
	text-align: center;
	width: 24px;
}

/* Volume bar */
.sc-player-standart .sc-volume {
	position: absolute;
	padding: 2px 4px 2px 16px;
	border-radius: 2px;
	font: 16px / 20px serif;
	left: 10px; bottom: 66px;
	height: 18px; width: 100px;
}
.sc-player-standart .sc-volume:after {
	content: '🕪';
	position: absolute;
	left: 5px; top: 0;
}
.sc-player-standart .sc-volume.S-hold:after {
	content: '🕪 ' attr(data-percent) '%';
	padding-right: 2px;
}
.sc-player-standart .sc-volume,
.sc-player-standart .sc-bar-volume {
	transition: max-width .5s ease-in-out .8s;
	max-width: 0%;
}
.sc-player-standart .sc-volume:hover,  .sc-player-standart *:hover > .sc-bar-volume,
.sc-player-standart .sc-volume.S-hold, .sc-player-standart .S-hold > .sc-bar-volume {
	transition-delay: 0s;
	max-width: 100px;
}

/* Play Controls */
.sc-player-standart .sc-play-toggle {
	position: absolute;
	top: 40%; left: 40%;
	border-radius: 100%;
	border: 2px solid white;
}
.sc-player-standart .sc-play-toggle:before {
	content: '';
	padding: 25px;
	display: block;
	background: url('img/play-standart.svg') no-repeat center / 30%;
}
.sc-player-standart .S-played:not(.S-paused) > .sc-play-toggle:before {
	background-image: url('img/pause-standart.svg');
}
.sc-player-standart .sc-waveform:after {
	content: '';
	background: url('img/wave-standart.svg') center / 100%;
}

/* Time Methers */
.sc-player-standart .sc-time-indicators {
	position: absolute;
	border-radius: 4px;
	line-height: 16px;
	font-size: 1.1em;
	padding: 4px;
	right: 10px; bottom: 10px;
}
.sc-player-standart .S-played > .sc-play-nav,
.sc-player-standart .S-played > .sc-play-mode,
.sc-player-standart .S-played > .sc-time-indicators {
	bottom: 65px;
}
.sc-player-standart .sc-time-scale {
	position: absolute;
	padding: 5px;
	border-radius: 8px;
	left: 10px; right: 10px;
	bottom: 10px; height: 40px;
}

/* Info Button */
.sc-player-standart .sc-cover-slide,
.sc-player-standart .sc-info-toggle {
	position: absolute;
	left: 10px; top: 10px;
}
.sc-player-standart .sc-play-nav {
	position: absolute;
	left: 40px;
}
.sc-player-standart .sc-play-mode {
	position: absolute;
	left: 100px;
}
.sc-player-standart .sc-play-prev {
	margin-right: 2px;
}

.sc-player-standart .sc-info-toggle:before /*-------*/ { content: 'i'; }
.sc-player-standart .S-detail > .sc-info-toggle:before { content: '✕'; }
.sc-player-standart /*-------*/ .sc-cover-slide:before { content: '⮷'; }
.sc-player-standart .sc-play-prev:before /*---------*/ { content: '⏮︎'; }
.sc-player-standart .sc-play-next:before /*---------*/ { content: '⏭︎'; }
.sc-player-standart .sc-play-mode[data-mode=PT]:before { content: '↪'; }
.sc-player-standart .sc-play-mode[data-mode=CP]:before { content: '↺'; }
.sc-player-standart .sc-play-mode[data-mode=LT]:before { content: '⥀'; }


/* Track-list item */
.sc-player-standart .sc-track {
	margin: 5px;
	padding: 3px 30px 3px 5px;
	border-radius: 4px;
}
.sc-player-standart .sc-track:after {
	position: absolute;
	right: 5px;
}

/* Add track btn and drop-box overlay */

.sc-player-standart .sc-shfl-tracks:before { content: '⤭'; }
.sc-player-standart .sc-move-tracks:before { content: '≡'; }
.sc-player-standart .sc-add-files:before   { content: '+'; }
.sc-player-standart .sc-box-drop > * {
	font: bold 1.4em / 22px serif;
	text-align: center;
	min-width: 22px;
	padding: 4px;
}
.sc-player-standart .S-active > .sc-add-files:before,
.sc-player-standart .S-active > .sc-shfl-tracks:before { content: ''; }
.sc-player-standart .S-active > .sc-move-tracks:before { content: '🡃'; }
.sc-player-standart .S-active > .sc-shfl-tracks {
	padding: 18px 9px;
	font-weight: normal;
	font-variant: small-caps;
}
.sc-player-standart .S-active > .sc-move-tracks {
	font-size: 140px;
	line-height: 70px;
}

/* Wide formation */
.sc-player-standart.sc-P-wide {
	display: flex;
	flex-direction: column;
}
.sc-player-standart.sc-P-wide .sc-artwork {
	width: 150px;
	height: 150px;
}
.sc-player-standart.sc-P-wide .sc-info-toggle {
	right: 10px;
	left: auto;
}
.sc-player-standart:not(.sc-P-wide) .sc-cover-slide {
	left: 36px;
}
.sc-player-standart.sc-P-wide:before,
.sc-player-standart.sc-P-wide .sc-box-controls {
	width: 100%;
	height: 150px;
}
.sc-player-standart.sc-P-wide .sc-box-drop.S-active,
.sc-player-standart.sc-P-wide .sc-tracklist {
	width: 100%;
	min-height: 160px;
	max-height: auto;
}
.sc-player-standart.sc-P-wide .sc-play-toggle {
	top: 10px;
	left: 160px;
}
.sc-player-standart.sc-P-wide .S-played > .sc-time-indicators {
	bottom: 85px;
}
.sc-player-standart.sc-P-wide .sc-time-scale {
	height: 55px;
	left: 160px;
}
.sc-player-standart.sc-P-wide .sc-waveform:after {
	background-size: 55%;
}
.sc-player-standart.sc-P-wide .sc-volume {
	top: auto; bottom: 86px; left: auto; right: 110px;
}
.sc-player-standart.sc-P-wide .sc-play-nav {
	top: 10px; bottom: auto; left: auto; right: 45px;
}
.sc-player-standart.sc-P-wide .sc-play-mode {
	top: 10px; bottom: auto; left: auto; right: 107px;
}
